.fondo{
    background-image: url("fondo.jpg");
    background-position: center;
    background-size: cover;
}
body{
    cursor:pointer;
}
h1{
    color: rgb(0, 255, 234);
    font-size: 40px;
    font-family: 'Ghusrak', sans-serif;
}
#pizarron{
    background-color: white;
    border-width: 10px;
    border-style: ridge;
}
button{
    background-color: aqua;
    border-width: 0px;
    padding: 10px;
    color: white;
}